.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.App_Container {
    flex-grow: 1;
    overflow: auto;
}

.App p {
    /* margin: 0; */
    flex-grow: 1;
}

.app_item {
    display: flex;
    padding: 0 20px;
}